*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body{
    min-width: 360px;
    min-height: 3521px;
    background-image: url("../img/mobile-back.jpg");
    background-repeat: no-repeat; 
    background-position: center;
}
.logo>img{
    display: block;
    position: absolute;
    width: 152px;
    height: auto;
    top: 16px;
    left: 16px;
}
.logoblock{
    position: relative;
    height: 0.1px;
    width: 100%;
}
#dllogo{
    display: block;
    position: absolute;
    background-color: #feb100;
    width: 65px;
    height: 55px;
    left: calc(100% - 65px);
    top: 13px;
    border-radius: 6px 0px 0px 6px;
    box-shadow: -5px 10px 15px #d6d6d6;
}
#dllogo>img{
    width: auto;
    height: auto;
    margin-left: 15px;
    margin-top: 12px;
}
#afe{
    margin-left: 19px;
    margin-top: 107px;
    color: #0aafed;
    font-size: 17px;
}
#mt{
    margin-left: 19px;
    margin-top: 0px;
    color: #1a212d;
    letter-spacing: 0px;
    line-height: 36px;
    font-size: 28.5px;
    white-space: pre-wrap;
}
#wfy{
    margin-left: 20px;
    margin-top: -9px;
    color: #fa993b;
    letter-spacing: 0px;
    line-height: 36px;
    font-size: 17px;
}

/*---------------------------------------Download-Form-----------------------------*/
.dlform{
    display: block;
    position: relative;
    margin: auto;
    top: 8px;
    border-radius: 15px;
    width: 320px;
    height: 458px;
    background-color: #ffffff;
}
#formtitle{
    display: block;
    position: relative;
    width: 235px;
    font-size: 20px;
    top: 28px;
    margin-bottom: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#form{
    display: block;
    width: 280px;
    margin: auto;
}
.formlabel{
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #6c6c6c;
    margin-bottom: 2px;
    transform: scaleY(0.9);
}
.inp{
    width: calc(100% - 30px);
    height: 24px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #a8a8a8;
    padding: 15px;
    font-size: 14px;
}
.inp:focus{
    outline: #b1b1b1 solid 2px;
}
#company{
    text-align: center;
}
.bad{
    border: 1px solid red;
}
#dl-butt{
    display: block;
    width: calc(100%);
    margin-top: 22px;
    height: 53px;
    font-size: 14.5px;
    letter-spacing: 0.7px;
    font-weight: 600;
    color: white;
    background-color: #feb100;
    border: 0;
    border-radius: 6px;
    box-shadow: 0px 10px 15px #d8d8d8;
    padding-right: 30px;
}
#dlicon{
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 44px;
    left: 232px;
}
#dl-butt:hover, #dl-butt:focus{
    box-shadow: 0px 0px 0px #d8d8d800;
    outline: 0;
}
/*------------------------------------------------DL-Form---------------------------------------*/

#cr{
    margin-top: 362px;
    margin-left:20px;
    margin-right: 20px;
    font-size: 13.8px;
    letter-spacing: -0.1px;
    line-height: 24px;
    color: #7d93aa;
}
#hat{
    margin-top: 72px;
    margin-left:20px;
    margin-right: 20px;
    font-size: 20px;
    letter-spacing: -0.1px;
    line-height: 28px;
}
#they{
    margin-top: 22px;
    margin-left:20px;
    margin-right: 20px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #7d93aa;
}
#our{
    margin-top: 16px;
    margin-left:20px;
    margin-right: 20px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #7d93aa;
}
#doe{
    margin-top: 68px;
    margin-left:20px;
    margin-right: 20px;
    font-size: 20px;
    letter-spacing: -0.2px;  
}
ul{
    margin-top: 28px;
    color: #7d93aa;
    list-style-type: none;
  
  padding: 0;
}
li{
    margin-left: 60px;
    margin-right: 20px;
    font-size: 13.8px;
    line-height: 25px;
    margin-bottom: 12px; 
}
li:before{
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/tick.png");
    background-size: cover;
    width: 20px;
    height: 15px;
    left: 20px;
    margin-top: 7px; 
}


/*------------------------------------Desktop-----------------------------------*/

@media only screen and (min-width: 800px) {
    body{
        //position: absolute;
        /margin-left: 50%;
        /transform: translateX(-50%);
        max-width: 1560px;
        max-height: 2539px;
        background-image: url("../img/desktop-back.jpg");
        background-repeat: no-repeat; 
        background-position: center top;
    }
.logo{
    display: block;
    width: 100%;
    height: 1px;
}    
.logo>img{
    display: block;
    position: relative;
    width: 210px;
    height: auto;
    top: 24px;
    margin-left: calc(50% - 595px);  
}
.logoblock{
    display: none;
    position: relative;
    height: 0.1px;
    width: 100%;
}

#afe{
    margin-left: calc(50% - 575px);    
    margin-top: 177px;
    color: #0aafed;
    font-size: 20px;
}
#mt{
    margin-left: calc(50% - 575px); 
    margin-top: 8px;
    color: #1a212d;
    letter-spacing: 0px;
    line-height: 58px;
    font-size: 52px;
    white-space: pre-wrap;
}
#wfy{
    margin-left: calc(50% - 578px); 
    margin-top: 5px;
    color: #fa993b;
    letter-spacing: 0px;
    line-height: 36px;
    font-size: 18px;
}

/*---------------------------------------Download-Form-----------------------------*/
.dlform{
    display: block;
    position: absolute;
    margin-left: calc(50% + 115px); 
    top: 180px;
    border-radius: 15px;
    width: 420px;
    height: 520px;
    background-color: #ffffff;
}
#formtitle{
    display: block;
    position: relative;
    width: 275px;
    font-size: 22px;
    top: 46px;
    margin-bottom: 62px;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#form{
    display: block;
    width: 300px;
    margin: auto;
}
.formlabel{
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #6c6c6c;
    margin-bottom: 4px;
    transform: scaleY(0.9);
}
.inp{
    width: calc(100% - 30px);
    height: 24px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #a8a8a8;
    padding: 15px;
    font-size: 15px;
}
.inp:focus{
    outline: #b1b1b1 solid 2px;
}
#company{
    text-align: left;
}
.bad{
    border: 1px solid red;
}
#dl-butt{
    display: block;
    width: calc(100%);
    margin-top: 27px;
    height: 53px;
    font-size: 14.5px;
    letter-spacing: 0.7px;
    font-weight: 600;
    color: white;
    background-color: #feb100;
    border: 0;
    border-radius: 6px;
    box-shadow: 0px 10px 15px #d8d8d8;
    padding-right: 30px;
}
#dlicon{
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 78px;
    left: 282px;
}

/*------------------------------------------------DL-Form---------------------------------------*/

#cr{
    margin-top: 16px;
    margin-left: calc(50% - 576px); 
    margin-right: calc(50% - 8px); 
    font-size: 15px;
    letter-spacing: -0.1px;
    line-height: 28px;
    color: #7d93aa;
}
#hat{
    margin-top: 42px;
    margin-left: calc(50% - 576px);
    margin-right: 20px;
    font-size: 22px;
    letter-spacing: -0.0px;
    line-height: 28px;
}
#they{
    margin-top: 14px;
    margin-left: calc(50% - 576px); 
    margin-right: 20px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 46px;
    color: #7d93aa;
}
#our{
    margin-top: 16px;
    margin-left: calc(50% - 576px); 
    margin-right: calc(50% - 12px); 
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #7d93aa;
}
#doe{
    margin-top: 37px;
    margin-left: calc(50% - 576px); 
    margin-right: 20px;
    font-size: 22px;
    letter-spacing: -0.1px;  
}
ul{
    margin-top: 18px;
    color: #7d93aa;
    list-style-type: none;
    width: 500px;
    margin-left: calc(50% - 570px);
}
li{
    margin-left: 10px;
    margin-right: 20px;
    font-size: 14.7px;
    line-height: 35px;
    margin-bottom: 12px; 
}
li:before{
    content: "";
    display: inline-block;
    position: relative;
    background-image: url("../img/tick.png");
    background-size: cover;
    width: 25px;
    height: 20px;
    left:  -18px;
    margin-top: 3px; 
}

}    