body {
  --green : #36bd6c;
  --black : #282828;
  margin: 0;
  font-family: 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color : var(--black);
}
.green{
  color: var(--green)
}
.gray{
  color: rgb(73, 76, 74);
}
.compact{
  letter-spacing: -0.5px;
}

.devider{
  width: 90%;
  margin-bottom: clamp(60px, 12vw, 100px);
  outline: none;
  border-top:1px solid var(--green);
}

ul{
  padding-left: clamp(20px, 1.7vw, 25px);
}
