body {
  --green : #36bd6c;
  --black : #282828;
  margin: 0;
  font-family: 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color : var(--black);
}
.letter{
  display: inline-block;
}
.word{
  display: inline-block;
}
.anchor{
  text-decoration: underline;
  color: #0000EE;
}
.space{
  white-space: pre;
}
.green{
  color: var(--green)
}
.gray{
  color: rgb(73, 76, 74);
}
.compact{
  letter-spacing: -0.5px;
}
.over{
  z-index: 1;
  /* pointer-events: none; */
}
.devider{
  width: 90%;
  margin-bottom: clamp(60px, 12vw, 100px);
  outline: none;
  border-top:1px solid var(--green);
}

ul{
  padding-left: clamp(20px, 1.7vw, 25px);
}
